@use 'loading';

@font-face {
  font-family: "Visage";
  src: url("../fonts/Visage/Visage Bold.woff2")
      format("woff2"),
}

@font-face {
  font-family: "Visage R";
  src: url("../fonts/Visage/Visage Regular.woff2")
      format("woff2"),
}

$p-background-color: #e8e8e8;
$p-color: #dddddd;
$s-color: #ef572d;
$p-dark-color: #151516;
$s-font-family: "Visage R", sans-serif;
$p-font-family: Impact, 'Visage', "Arial Narrow Bold", sans-serif;

@mixin pos($top: 0%) {
  position: fixed;
  top: $top;
  left: 0;
  height: 5vh;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  overflow-x: hidden;
  
  @media(max-width: 1000px){
    overflow: hidden;
  }
  // @media(min-width: 1000px){
  //   overflow: scroll;
  // }
}

.curtain {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  transform: scaleY(0);
  transform-origin: bottom;

  &.full {
    transform: scaleY(1);
  }
}

#canvasContainer img {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#container,
#canvasContainer {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  z-index: -1;
  overflow: hidden;
}

canvas {
  display: block;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.nav {
  @include pos($top: 7%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 100%;
    z-index: 999;

    &.ul-work, 
    &.ul-about{
      width: 80%;
    }

    a {
      position: relative;
      text-decoration: none;
      color: $p-color;
      font-family: $p-font-family;

      
      @media(min-width: 1550px){
        font-size: 1.4vw;
      }
  
      @media(max-width: 1550px){
        font-size: 1.3rem;
      }
  
      @media(max-width: 1400px){
        font-size: 1.2rem;
      }
  
      @media(max-width: 1300px){
        font-size: 1.1rem;
      }
  
      @media(max-width: 1168px){
        font-size: 1rem;
      }
      @media(max-width: 968px){
        font-size: .9rem;
      }
  
      @media(max-width: 767px){
        font-size: .8rem;
      }
      @media(max-width: 500px){
        font-size: .7rem;
      }
    }
  }
}

.foot {
  @include pos($top: 92%);
  color: $p-color;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: $p-font-family;
  overflow: hidden;

  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(100%);

    @media(max-width: 768px){
      .only_big_screen{
        display: none;
      }
    }

    h3 {
      font-weight: 300;
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      cursor: pointer;
      
     
      @media(min-width: 1550px){
        font-size: 1.5vw;
      }
  
      @media(max-width: 1550px){
        font-size: 1.5rem;
      }
  
      @media(max-width: 1400px){
        font-size: 1.4rem;
      }
  
      @media(max-width: 1300px){
        font-size: 1.3rem;
      }
  
      @media(max-width: 1168px){
        font-size: 1.2rem;
      }
      @media(max-width: 968px){
        font-size: 1rem;
      }
  
      @media(max-width: 767px){
        font-size: .9rem;
      }
    }
  }

  ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    height: 100%;

    @media(max-width: 768px){
      gap: .7rem;
    }


    li {
      cursor: pointer;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(100%);
      position: relative;
      padding: 0 0.2rem;
      
      @media(min-width: 1550px){
        font-size: 1.4vw;
      }
  
      @media(max-width: 1550px){
        font-size: 1.3rem;
      }
  
      @media(max-width: 1400px){
        font-size: 1.2rem;
      }
  
      @media(max-width: 1300px){
        font-size: 1.1rem;
      }
  
      @media(max-width: 1168px){
        font-size: 1rem;
      }
      @media(max-width: 968px){
        font-size: .9rem;
      }
  
      @media(max-width: 767px){
        font-size: .8rem;
      }
      @media(max-width: 450px){
        font-size: .7rem;
      }
    }
  }
}

.secondary {
  color: $s-color;
}
.primary {
  color: $p-color;
}

.line {
  position: absolute;
  display: inline-block;
  top: 45%;
  left: -5%;
  transform: translateY(-50%);
  height: 4px;
  width: 110%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: $s-color;
}

.back-button {
  position: absolute;
  top: 10%;
  left: 5%;

  a {
    position: relative;
    text-decoration: none;
    color: $p-color;
    font-family: $p-font-family;
    font-size: 1.6rem;
  }
}


