@font-face {
  font-family: "party_confettiregular";
  src: url("../fonts/party_confetti/partyconfettiregular-ezon3-webfont.woff2")
      format("woff2"),
    url("../fonts/party_confetti/partyconfettiregular-ezon3-webfont.woff")
      format("woff");
}

$p-background-color: #e8e8e8;
$p-color: #dddddd;
$s-color: #EF572D;
$s-font-family: "party_confettiregular", sans-serif;
$p-font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 


@mixin pos($top: 0%) {
  position: fixed;
  top: $top;
  left: 0;
  height: 5vh;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  z-index: -1;
}

canvas {
  display: block;
}

.nav{
  @include pos($top: 7%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 100%;

    a{
      position: relative;
      text-decoration: none;
      color: $p-color;
      font-family: $p-font-family;
    }
  }
}

.foot{
  @include pos($top: 92%);
  color: $p-color;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: $p-font-family;
  overflow: hidden;

  .name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(100%);


    h3{
      font-weight: 300;
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      cursor: pointer;
    }
  }

  ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    height: 100%;

    li{
      cursor: pointer;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(100%);
      position: relative;
      padding: 0 .2rem;
    }
  }
}

.secondary{
  color: $s-color;
}

.line{
  position: absolute;
  top: 45%;
  left: -5%;
  transform: translateY(-50%);
  height: 4px;
  width: 110%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: $s-color;
}