@font-face {
  font-family: "party_confettiregular";
  src: url("../fonts/party_confetti/partyconfettiregular-ezon3-webfont.woff2")
      format("woff2"),
    url("../fonts/party_confetti/partyconfettiregular-ezon3-webfont.woff")
      format("woff");
}

$p-background-color: #e8e8e8;
$p-color: #dddddd;
$s-color: #EF572D;
$p-font-family: "party_confettiregular", sans-serif;
$s-font-family: 'Arial'; 


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  z-index: -1;
}

canvas {
  display: block;
}

.nav{
  position: fixed;
  top: 7%;
  left: 0;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 80%;

    a{
      text-decoration: none;
      color: $p-color;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  }
}