@use 'base';

.content {
  height: 100vh;
  width: 100vw;

  .content__button {
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
    color: base.$p-color;
    cursor: pointer;
    font-size: 4.25rem;
    font-family: base.$p-font-family;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:focus {
      outline: none;
    }
  }
}