@use "base";

#container-work {
  background-color: #151516;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  z-index: -1;
  overflow: hidden;
}

.content-work {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 1000px) {
    overflow: hidden;
    max-height: 100vh;
  }
}

.content_inner {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 1000px) {
    flex-direction: column;
    // width: 100%;
    height: 80vh;
    margin-top: 15vh;
  }

  .img {
    // padding-top: 1rem;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    @media (max-width: 1000px) {
      flex-direction: row;
      height: 50%;
      width: 100%;
      // justify-content: center;
      align-items: center;
    }

    .img_inner {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 80%;
      margin-top: 15%;

      @media (max-width: 1000px) {
        margin: 0;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        opacity: 0;

        @media (max-width: 1000px) {
          opacity: 1;
          width: 300px;
          height: 100%;
        }
      }
    }
  }
}

.text_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #ddd;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 50%;
  height: 100vh;
  padding: 0 2rem;

  @media (max-width: 1000px) {
    height: 50%;
    width: 100vw;
  }

  .text_content_inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 50%;

    @media (max-width: 1000px) {
      height: 100%;
    }

    .number {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      color: #5121b0;
      position: relative;
      height: 20%;

      .number_inner {
        position: absolute;
        top: -100%;
        overflow: hidden;

        @media (max-width: 1000px) {
          top: 0;
        }

        h1 {
          font-size: 4rem;
          transform: translateY(100%);

          @media (max-width: 1000px) {
            font-size: 4rem;
          }
          @media (min-width: 1000px) {
            font-size: 8rem;
          }
          @media (min-width: 1550px) {
            font-size: 14rem;
          }
          @media (min-width: 2100px) {
            font-size: 10vw;
          }
        }
      }
    }
    .headline {
      // font-size: 3rem;
      color: #e8e8e8;
      overflow: hidden;

      h1 {
        font-size: 3rem;
        transform: translateY(100%);

        @media (max-width: 1000px) {
          font-size: 3.5rem;
        }
        @media (min-width: 1000px) {
          font-size: 5rem;
        }
        @media (min-width: 1100px) {
          font-size: 6rem;
        }
        @media (min-width: 1550px) {
          font-size: 12rem;
        }
        @media (min-width: 2100px) {
          font-size: 6vw;
        }
      }
    }
    .desc {
      font-size: 1.3rem;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;

      @media (max-width: 640px) {
        font-size: 0.8rem;
      }

      @media (min-width: 1000px) {
        font-size: 1rem;
      }
      @media (min-width: 1550px) {
        font-size: 1.5rem;
      }
      @media (min-width: 2100px) {
        font-size: 1.6vw;
      }

      .line_border {
        position: absolute;
        width: 1%;
        height: 100%;
        background-color: #5121b0;
        top: 0%;
        left: -3%;
      }
    }
  }
}

.navigation {
  width: 10%;
  min-height: 50vh;
  position: fixed;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
}

.navLine {
  position: absolute;
  right: 0;
  width: 5%;
  height: 2px;
  background-color: #dddddd;
  transition: all 200ms ease-in-out;

  &.active {
    width: 100%;
    height: 5px;
    background-color: #ef572d;
  }
  &.navLine1 {
    top: 16.5%;
    background-color: #5121b0;
  }
  &.navLine2 {
    top: 33%;
    background-color: #278d25;

  }
  &.navLine3 {
    top: 49.5%;
    background-color: #a920ae;

  }
  &.navLine4 {
    top: 66%;
    background-color: #c12e20;

  }
  &.navLine5 {
    top: 82.5%;
    background-color: #204dac;

  }
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #151516;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #151516;
}

body::-webkit-scrollbar-thumb {
  background-color: #dddddd;
}
